@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
@import url('https://fonts.cdnfonts.com/css/intro-black');

$fonttext: 'Roboto Slab', serif;
$fonttitlebtn: 'Intro Regular', sans-serif;
$colorbackbtn:#5222D0;
$colorf1: black;
$colorf2: white;


%flex-element-center {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

%btn {
    color: $colorf2;
    font-family: $fonttitlebtn;
    border-color: $colorbackbtn;
    background-color: $colorbackbtn;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@mixin adapt-font($pcSize) {
    font-size: calc($pcSize);
	@media screen and (max-width: 1380px) {
        font-size: calc($pcSize/1.2);
    }
    @media screen and (max-width: 1000px) {
        font-size: calc($pcSize/1.5);
    }
    @media screen and (max-width: 880px) {
        font-size: calc($pcSize/1.7);
    }
}

body {
    
    background-color: aqua;
    .page {
    min-height: 900px;
    max-width: 1440px;
    margin: 0 auto;
    box-sizing: border-box;    
    display: grid;
    grid-template: 19.5% 1fr 14% / 100%;
    background-image: url(./pic.svg);
    background-repeat: no-repeat;
    background-position: 100% 73%;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;

    .header {
        grid-area: 1/1/2/2;
        display: grid;
        grid-template: 1fr 3fr / 100%;
        .header__poster-wrapper {
            grid-area: 1/1/2/2;
            width: 100%;
            display: grid;
            grid-template: 100% / 6.3% 83% 1fr;
            align-items: center;
            border-bottom: 2px solid rgb(172, 172, 172);
            .header__dots {
                grid-area: 1/1/2/2;
                @extend %flex-element-center;
                padding: 0 13.5px;
                .header__dot {
                    height: 13px;
                    width: 13px;
                    background-color: #bbb;
                    border-radius: 50%;
                    display: inline-block;
                    
                }
                .dot-1 {
                        background-color: rgb(214, 58, 58);
                    }
                    .dot-2 {
                        background-color: rgb(238, 196, 79);
                    }
                    .dot-3 {
                        background-color: rgb(45, 169, 45);
                    }
                
            }
            .header__text {
                    @extend %flex-element-center;
                    grid-area: 1/2/2/3;
                    color: rgb(146, 146, 146);
                    font-family: $fonttitlebtn;
                    @include adapt-font(15px);
                }
        }
        .header__logo-btn-wrapper{
            grid-area: 2/1/3/2;
            display: grid;
            grid-template: 100% / 24.5% 1fr 18.25%;
            justify-content: center;
            .header__logo-wrapper {
                grid-area: 1/1/2/2;
                @extend %flex-element-center;
            }
            .header__btn-wrapper {
                grid-area: 1/3/2/4;
                @extend %flex-element-center;
                .header__btn {
                    @extend %btn;
                    @include adapt-font(13px);
                    padding: 3.5% 0;
                    border-radius: 25px;
                    min-width: 115px;
                }
            }
            
        }
    }
    .main {
        grid-area: 2/1/3/2;
        display: grid;
        grid-template: 0% 39.5% 22.5% 18% 1fr/ 1% 1fr 63%;
        padding-left: 8%;
        .main__title {
            padding: 0;
            margin: 5% 0 0 0;
            grid-area: 2/2/3/3;
            font-family: $fonttitlebtn;
            @include adapt-font(60px);
            line-height: 120%;
        }
        .main__text {
            grid-area: 3/2/4/3;
            font-family: $fonttext;
            @include adapt-font(20px);
            line-height: 150%;
        }
        .main__btn-wrapper {
            grid-area: 4/2/5/3;
            @extend %flex-element-center;
            justify-content: flex-start;
            .main__btn{
            @extend %btn;
            @include adapt-font(35px);
            min-width: 270px;
            padding: 4%;
            border-radius: 45px;
            position: relative;
            left: -13px;
            }
        }
    }
    .footer {
        grid-area: 3/1/4/2;
        display: grid;
        grid-template: 100% / 6% 1fr 55%;
        .nav {
            grid-area: 1/2/2/3;
            .nav__wrapper {
                @extend %flex-element-center;
                justify-content: space-between; 
                    .nav__item {
                    list-style-type: none;
                    .nav__link {
                        text-decoration: none;
                        font-family: $colorbackbtn;
                        @include adapt-font(20px);
                        font-style: normal;
                        font-weight: 300;
                        line-height: 160%;
                        .nav__link:hover {
                            color: $colorf1;
                        }
                    }
                }
            }
        }
    }}
}
